#title{
    background-color: rgb(142, 156, 128);
    color: rgb(3, 73, 73);
}
.heading{
    color: rgb(88, 26, 26);
    background-color:  rgb(142, 156, 128);
}
#home{
    color:rgb(119, 80, 6);
}
.list{
   color: rgb(19, 41, 19);
}

p{
    color: rgb(11, 38, 61);
}